.profile-container{

}

.profile-container:first-child {
    margin-top: 250px;
}

.profile_img {
    position: absolute;
    top: 50px;
    z-index: -1;
    left: 0;
    height: 300px;
    width: 100%;
    text-align: center;

    background: url('../../assets/img/background.jpg') no-repeat center;
    background-size: cover;
}