h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.profile_info {
    margin: 0 auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 50px;

    text-align: left;
}

.profile-info_sidebar {
    min-height: 100%;
    position: relative;
    top: -75px;

    display: grid;
    grid-template-areas:
          "a a"
          "g s";
    align-content: center;
    justify-content: center;

    text-align: center;
}

.following {
    grid-area: g;
}

.followers {
    grid-area: s;
}

.aboutMe {
    padding: 2px 8px;

    display: inline-block;
    margin: 0 0 20px;

    border-radius: 10px;
    color: rgb(169, 51, 83);
    background: rgb(216, 217, 238, 0.9);
}

.contacts {

}

.contacts__item {
    margin-left: 15px;
}

.profile_avatar {
    grid-area: a;
    height: 150px;
    width: 150px;

    border: #6E6984 solid 3px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_avatar img {
    height: 100%;
}
