h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.profile_info {
    position: relative;
    top: -50px;
    margin: 0 auto;
    width: 80%;

    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-gap: 50px;

    text-align: left;
}

.aboutMe {
    padding: 5px;

    display: inline-block;
    margin: 0 0 20px;

    border-radius: 10px;
    color: rgba(241,106,143);
    background: rgb(216, 217, 238,0.9);
}

.contacts {

}

.contacts__item {
    margin-left: 15px;
}

.__bold {
    font-weight: bolder;
}
.profile_avatar {

    height: 100px;
    width: 100px;

    border: #f780a1 solid 3px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:  0 0 20px rgba(246,106,143,0.9);
}

.profile_avatar img {
    height: 100%;
}
