.profile-container {
    height: 100%;
    display: flex;
    align-content: start;
    margin-top: 250px;
}

.MyPost {
    margin: 50px auto;
    width: 75%;
}

.profile_img {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    height: 300px;
    width: 100%;
    text-align: center;

    background: url('../../assets/img/background.jpg') no-repeat center;
    background-size: cover;
}