.profile-container {
    height: 100%;
    display: flex;
    align-content: start;
    margin-top: 250px;
}

.MyPost {
    margin: 50px auto;
    width: 50%;
}

.profile_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    line-height: 30px;
    background: #dfdfdf;
    box-shadow: 0 0 25px rgba(105,82,111,0.05);
}

.profile_img {
    position: absolute;
    top: 50px;
    z-index: -1;
    left: 0;
    height: 300px;
    width: 100%;
    text-align: center;

    background: url('../../assets/img/background.jpg') no-repeat center;
    background-size: cover;
}