.header {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: h;
    height: 50px;
    width: 100%;

    background: #252c48;
    z-index: 1000;
    box-shadow: 0 0 50px rgb(64, 204, 239);
}

.header_inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
}

.header_logo {
    width: 60px;
}

.headerText {
    margin: 5px 20px 0;
    font-size: 26px;
}

.login {
    margin: 10px 20px 0;
    font-size: 20px;
}
