@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400;600;700&display=swap");
}

.profileInfo {

    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    line-height: 30px;
    background: #dfdfdf;
    box-shadow: 0 0 25px rgba(105, 82, 111, 0.05);
}

.profileInfo_wrapper {
    position: relative;
    top: -75px;
    text-align: center;

}

.profileInfo_header {
    position: relative;
    margin: 0 auto;
    width: 150px;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.profileInfo_header:after {
    content: '';
    margin: 5px 0;
    border: 1px solid #DB5461;
}

.followed {
    display: flex;
    justify-content: space-around;
}

.followed > * {
    width: 100%;
}

.profileInfo_description_title {
    text-align: center;
}

.profileInfo_aboutMe {
    padding: 2px 8px;

    margin: 0 10px 20px;

    border-radius: 10px;
    color: rgb(169, 51, 83);
    text-align: center;
    background: rgb(216, 217, 238, 0.9);
}

.profileInfo_contacts {

}

.profileInfo_contacts_item {
    padding: 10px;
    border-top: 2px #DAD2D8 solid;
    text-align: left;
}

.profileInfo_contacts_item::first-letter {
    text-transform: uppercase;
}

.profileInfo_work {
    border-top: 10px #DAD2D8 solid;
    text-align: left;
}

.inputFile_block {
    display: none;
    padding: 1em;

    position: absolute;
    right: 50%;
    bottom: -25%;
    transform: translateX(50%);
    border-radius: 4px;
    background: #6E6984;
}

.inputFile {

}

.showInputFile {
    display: block;
}

._circle {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 42px;

    background: #ffae03;
    border-radius: 50%;
}